<ion-header>
  <ion-toolbar>
    <ion-title>{{ isNew ? 'Add New Employee' : 'Edit Employee' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveEmployee()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="employee.name" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Position</ion-label>
    <ion-input [(ngModel)]="employee.position" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Department</ion-label>
    <ion-select [(ngModel)]="selectedDepartmentId">
      <ion-select-option *ngFor="let department of departments" [value]="department._id">
        {{ department.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  

  <ion-button expand="full" color="danger" *ngIf="!isNew" (click)="deleteEmployee()">
    Delete
  </ion-button>
</ion-content>
