<ion-header>
  <ion-toolbar>
    <ion-title>Add New Employee</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button> <!-- Zavření bez uložení -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addEmployee()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="newEmployee.name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Position</ion-label>
      <ion-input [(ngModel)]="newEmployee.position" name="position" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Department</ion-label>
      <ion-input [(ngModel)]="newEmployee.departmentId" name="departmentId" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Add Employee</ion-button>
  </form>
</ion-content>
